<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="br.com.bizsys.bradescovideo" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.REORDER_TASKS" />
	<uses-permission android:name="android.permission.PREVENT_POWER_KEY" />
	<uses-permission android:name="android.permission.STATUS_BAR" />
	<application android:label="Bradesco"></application>
</manifest>